
.container {
 
  margin: 100px;
  margin-right: 50px;

}  


/*@media screen and (max-width:1180px) { 
  .container{width: 100%;}
  
}*/

.main-box {
  border: 3px solid rgb(197, 244, 194);
  border-radius: 10px;
  padding: 16px;
  
  
}

.header {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  text-align: left;
  font-size: 24px;
 
}



.second-wrapper {
  text-align: left;
  position: relative;
  margin-top: 16px;
  
}


.title {
  font-family: "Work Sans", sans-serif;
  font-weight: 200px;
  
}

.title-2{
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  
}


.d-flex {
  flex-wrap: wrap;
}



.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}


.title-3{
  
  color: rgb(248, 7, 7);
  background-color: rgb(243, 133, 130);
  justify-content: left;
  border-radius: 2px;
  margin-right: 5px;
  
}


.title-4{
  color: rgb(7, 30, 134);
  background-color: rgb(185, 155, 229);
  border-radius: 2px;
  
}


.fourth-wrapper{
  border: radius 5px;
  align-items: right; 


}



.button {
  border-color:blanchedalmond ;
  color: rgb(2, 2, 124);
  background-color: rgb(242, 245, 245);
  border-radius: 5px;

}
  